{
  "user": "YOUR_USERNAME",
  "password": "YOUR_PASSWORD", 
  "exe_path": "PATH_TO_YOUR_TRADE_CLIENT\\xiadan.exe",
  "comm_password": "YOUR_COMM_PASSWORD",
  "client_type": "universal_client",
  "account_file": "PATH_TO_YOUR_ACCOUNT_FILE\\Account.ini",
  "tips": "请根据实际情况修改以上配置项"
}
